<!--The content below is only a placeholder and can be replaced.-->
<h2>Here are some links to help you startxxx: </h2>
<h1>{{(app | async).name}}</h1>
<h2>{{(app | async).sname}}</h2>
<h3>{{(app | async).appName}}</h3>
<br>
<button (click)="reset()">RESET THAT</button>
<br><br>
<a [routerLink]="['/contact']">CONTACT</a> | <a [routerLink]="['/about']">ABOUT</a> | <a [routerLink]="['/']">HOME</a>

<app-image-preload [image]="cat$ | async"></app-image-preload>

<router-outlet></router-outlet>